STATIC_SETTINGS = {
    'TWITTER_CONSUMER_KEY': '',
    'TWITTER_CONSUMER_SECRET': '',
    'TWITTER_ACCESS_TOKEN': '',
    'TWITTER_ACCESS_SECRET': '',
    'SLACK_TOKEN': '',
    'SLACK_NOTIFICATION_ROOM_ID': '',
}
